@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root {
    /*Fuente*/
    --fuente-principal: 'Overpass', sans-serif;

    --color-primario: hsl(25, 97%, 53%);
    /*colores neutros*/
    --blanco: hsl(0, 0%, 100%);
    --gris-claro: hsl(217, 12%, 63%);
    --gris-medio: hsl(216, 12%, 54%);
    --azul-oscuro: hsl(213, 19%, 18%);
    --negro-azulado: hsl(216, 23%, 11%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    color: var(--blanco);
    background-color: #000000;    
    
}
.centrar-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.container {    
    max-width: 320px;
    height: auto;
    background-color: var(--negro-azulado);
    border-radius: 2rem;
    padding: 3rem;
}
.circulo {
    width: 3.5rem;
    height: 3.5rem;    
    background-color: var(--azul-oscuro);    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo .imagen {
    width: 1.2rem;
}

.contenido {
    margin: 1.5rem 0;
}
.titulo {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}
.parrafo {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gris-medio);
    margin: 1rem 0 .5rem 0;
}

.calificacion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--gris-medio);
}
.calificacion span {
    font-size: 1.2rem;
    color: var(--gris-claro);
    transition: background-color .4s ease-in-out;
}

.calificacion span:hover {
    background-color: var(--color-primario);
    color: var(--blanco);
    cursor: pointer;
}
span.active {
    background-color: var(--gris-claro);
    color: var(--blanco);
}

.boton {
    width: 100%;
    height: 3.2rem;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 20px;
    transition: background-color .4s ease-in-out;
}
.boton:hover {
    background-color: var(--blanco);
    color: var(--color-primario);
    font-weight: 700;
}

/* Card-Gracias */
.modal {
    text-align: center;
    position: absolute;
    z-index: 3;
    box-shadow: 10px 10px 5px 0px #000;
}
.calificacion-final {
    font-size: 1.2rem;
    font-weight: 400; 
    background-color: hsl(217, 10%, 16%);
    color: var(--color-primario);
    width: 60%;
    height: 2.5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    background: hsla(0, 0%, 16%, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}
.hidden {
    display: none;
}
.attribution {
    text-align: center;
}
